/* VARS  */
$stroke-width: 1px;
$stroke-color: white; 

$font-size: 22px;

.fade-color {     
    opacity: 0.85;

   &:hover {
        opacity: 1;
    }
}

svg {

    text {
        font-size: $font-size;
        text-anchor: middle;
        pointer-events: none;
    }
    
    .arc-path { 
        stroke: $stroke-color;
        stroke-width: $stroke-width;
    }
}

